body {
  font-family: "League Spartan", sans-serif;
}

.main-header {
  background-image: url("../images/bg-header-mobile.svg");
  background-color: #979797;
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #EFFAFA;
}

.job-offers {
  padding-left: 0;
  list-style-type: none;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.job-offer {
  background-color: #FFF;
  border-left: 2px solid #5CA5A5;
  padding: 24px;
  border-radius: 4px;
  margin-bottom: 40px;
}

